/* setting up html, body to overwrite browser defaults */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

input {
	width: 100%;
    box-sizing: border-box;
}

.legend {
    position:absolute;
    top:50%;
	margin-top: -70px;
    right: 20px;
	max-width:150px;
	overflow: hidden;
    z-index: 9999;
}

.legend button, input {
	margin-top: 3px;
}

.container {
    width:100%;
    height:100%;
}

.circle {
    width: 200px;
    height:200px;
    border-radius: 50%;
    position:fixed;
    background-color: #ff0000;
}